* {
	box-sizing: inherit;
	margin: 0;
}

body, html {
	height: 100vh;
	font-family: var(--font-sans-serif);
	font-size: 14px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	background-color: var(--color-background-primary);
	color: var(--color-foreground-secondary);
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
	color: var(--accent-color);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid var(--grey-4);
	border-radius: 2px;
}

input:disabled {
	color: var(--grey-4);
}

table {
	border-collapse: collapse;
}

th, td{
	text-align: left;
	vertical-align: baseline;
	padding: .5em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

.material-icons {
	width: 1em;
	height: 1em;
	font-size: 1.6em !important;
	user-select: none;
}

.aligned {
	display: flex;
	align-items: center;
	gap: var(--xxs);
}

button {
	background-color: var(--accent);
	color: var(--darker);
	outline: none;
	display: flex;
	align-items: center;
	font-size: .8rem;
	padding: var(--xxs) var(--s);
	margin-right: var(--xxs)
}

button > .material-icons {
	margin-right: var(--xs)
}

button:disabled {
	color: var(--grey-3);
}

button:not(:disabled):active {
	background-color: var(--grey-4);
}

button:focus {
	border-color: var(--grey-1);
}