:root {
	--base: 16px;
  --foreground-color: hsl(0, 0%, 15%);
  --background-color: hsl(0, 0%, 95%);
  --accent-color-0: hsl(293, 52%, 45%);
  --accent-color-1: hsl(293, 52%, 40%);
  --accent-color-2: hsl(293, 52%, 35%);
  
  --grey-0: hsl(0, 0%, 25%);
  --grey-1: hsl(0, 0%, 40%);
  --grey-2: hsl(0, 0%, 50%);
  --grey-3: hsl(0, 0%, 60%);
  --grey-4: hsl(0, 0%, 75%);
  --grey-5: hsl(0, 0%, 90%);
}
